@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    /* overflow-x: hidden; */
    width: 100vw;
    width: 100%;
    height: 100vh;
}

#navbar {
    overflow: hidden;
    padding: 18px 10px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    background-color: #343a40 !important;
}

#logo{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: .1rem;
    line-height: 140%;
    color: #6f42c1;
    text-shadow: 2px 2px #000;
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive !important;
}

.nav-item .nav-link{
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.nav-item:hover .nav-link,
.active .nav-link{
    font-weight: 500 !important;
    color: #722bf7;
    /* text-shadow: .5px .5px #000; */
}

.navbar ul>li{
    padding-right: 2rem !important;
}

.list-inline-item a i{
    font-size: 2.5rem;
    margin-right: 1rem;
}

#home{
    height: 100vh;
    margin-top: 60px;
    display: flex;
    background-color:#ecf0f3;
}

#home .sub-head{
    font-size: 22px;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

#home .main-head{
    font-size: 64px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.typewriter {
	width:23.2ch;
	white-space: nowrap;
	overflow: hidden;
	/* border-right: 4px solid #212121; */
	animation: cursor 1s step-start infinite, 
    text 3s steps(24) alternate;
}

@keyframes cursor {
	0%, 100% { 
    border-color: #212121; 
  }
}

@keyframes text {
	0% { 
    width: 0; 
  }
	100% { 
    width: 23.2ch; 
  }
}

.sub-head2 {
    text-align: center;
    display: flex;
    position: relative;
    transform: translate(25%, 50%);
    font-size: 23px;
    font-weight: 800;
    color: #722bf7;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif !important;
  }

  .sub-head2>span:hover{
    animation: shake 1s;
  }
  
  @keyframes shake {
    0% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
    10% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    20% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    100% {
      transform: translate(1px, 1px) rotate(0deg);
    }
  }

#about-me{
    background-color:#ecf0f3;
    height: auto;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

#about-me .about-sub-head,
#skills .skills-sub-head{
    font-size: 22px;
    color: #5651e5;
}

#about-me .about-main-head,
#skills .skills-main-head{
    font-size: 32px;
    color: #000;
    font-family: Raleway;
    font-weight: 900;
}

#about-me .check{
    color: #5651e5;
}

#about-me .image-frame{
   padding-top: 5rem;
}

#about-me .img-frame{
    box-shadow: 4px 4px 12px #ccc;
    border-radius: 10px;
    height: auto;
    transition: .5s;
    margin: 0 1rem;
}

#about-me .img-frame:hover{
    transform: scale(1.1);
}

#about-me img{
    border-radius: 10px;
}

#skills{
    background-color:#ecf0f3;
    height: auto;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.skill-card{
    width: 18rem;
    box-shadow: -4px 4px 14px #ccc, 4px 4px 15px #ccc;
    border-radius: 14px;
    padding: 30px 0;
    transition: .5s;
}

.skill-card:hover{
    /* cursor: pointer; */
    transform: scale(1.1);
}

.skill-card{
    margin-top: 3rem;
    margin-right:1rem;
}

#skills .skill-name{
    font-size: 22px;
    color: #000;
    font-weight: 700;
}

#contact{
    background-color:#ecf0f3;
    background-repeat: no-repeat;
    background-position: center;
}

#contact input,
#contact textarea{
    padding: .9rem;
    border-radius: 4px !important;
}

#contact input:focus,
#contact textarea:focus{
    box-shadow: none !important;
    border: 2px solid #000;
}

#contact input:valid,
#contact textarea:valid {
    box-shadow: 0 0 3px 1px green !important;
}

#contact input:focus:invalid,
#contact textarea:focus:invalid {
    box-shadow: none !important;
}

#contact input:focus:valid,
#contact textarea:focus:valid {
    box-shadow: none !important;
}

#contact input:invalid ,
#contact textarea:invalid {
    box-shadow: 0 0 1px .5px red;
}

#contact .send-button{
    transition: .4s;
}


#contact .form-control::placeholder{
    font-weight: 700;
}

#contact .send-button:hover{
    background-color: #5651e5 !important;
    transform: scale(1.1);
}

#footer{
    background-color:#ecf0f3;
}

#footer .footer-text {
    font-size: 18px;
    color: #343a40;
}

@media (max-width: 992px) {
	#navbar{
		height: auto;
        position: relative;
	}
    #home{
        margin-top: 0;
    }
    #logo{
        display: none;
    }
}
  

::-webkit-scrollbar{
    display: none;
}